<section>
    <div class="container mt-4">
         <div class="row">
             <div class="col-md-6">
             <h5 class="text-center">Add products</h5>
            <form action="/admin/edit-product/{{product._id}}" method="post" enctype="multipart/form-data">
                <label for="">Name</label>
                <input type="text" name="name" class="form-control" value="{{product.name}}">
                <label for="">Description</label>
                 <input type="text" name="description" class="form-control" value="{{product.description}}">
                <label for="">Category</label>
                 <input type="text" name="category" class="form-control" value="{{product.category}}">
                <label for="">Image</label>
                <img src="/product-image/{{product._id}}.jpg" alt="" style="height: auto; width:100px" id="viewImg" class="p-3">
                <input type="file" name="image" class="form-control" onchange="viewImage(event)">
                <button type="submit" class="btn btn-success">Submit</button>
          </form>
        
        </div>
    </div>
    </div>
</section>
<script>
    function viewImage(event){
        document.getElementById('viewImg').src=URL.createObjectURL(event.target.files[0])
    }
</script>