<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scop="col">Title</th>
                     <th scop="col">Price</th>
                    <th scop="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    
                    <td><img style="width: 70px;height: 70px;"src="/product-image/{{this.product._id}}.jpg"></td>
                    <td>{{this.product.name}}</td>
                    <td>{{this.product.price}}</td>
                
                    <td>
                        <button class="cart-item-count me-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)">-</button>
                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                        <button class="cart-item-count ms-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)">+</button></td>
                     <td><button class="btn btn-danger" onclick="removeCart('{{this._id}}','{{this.product._id}}')">Remove</button></td>
                </tr> 
                {{/each}}
            </tbody>
        </table>
    </div>
</section>
<script>
    function changeQuantity(cartId,proId,count){
        let quantity=parseInt(document.getElementById(proId).innerHTML)
        count=parseInt(count)
        $.ajax({
            url:'/change-product-quantity',
            data:{
                cart:cartId,
                product:proId,
                count:count,
                quantity:quantity
            },
            method:'post',
            success:(response)=>{
                if(response.removeProduct){
                    alert("Product removed from cart")
                    location.reload()
                }else{
                    document.getElementById(proId).innerHTML=quantity+count
                }
                }
             })
        }
      
        //Removing cart
        function removeCart(cartid,prodid){
            $.ajax({
            url:'/remove-product-cart',
            data:{
                cart1:cartid,
                product1:prodid
            },
            method:'post',
            success:(response)=>{
                if(response.removeProduct){
                alert('Removing the product')
                location.reload()
                }
            }
            })
        } 
    // End
</script>